<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCheck</servlet-name>
        <servlet-class>RegisterCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSuccess</servlet-name>
        <servlet-class>LoginSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFailure</servlet-name>
        <servlet-class>LoginFailure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jwxt</servlet-name>
        <servlet-class>jwxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOn</servlet-name>
        <servlet-class>ChangeOn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCheck</servlet-name>
        <url-pattern>/RegisterCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSuccess</servlet-name>
        <url-pattern>/LoginSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFailure</servlet-name>
        <url-pattern>/LoginFailure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jwxt</servlet-name>
        <url-pattern>/jwxt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOn</servlet-name>
        <url-pattern>/ChangeOn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
